<!DOCTYPE html>
<html>
  <head>
    <title>D-Storys</title>
  </head>
  <body>
    <script>
      window.location = "https://ca-dark-history.firebaseapp.com/notfound";
    </script>
  </body>
</html>
